.footer {
  position: relative;
  padding: 257px 0 25px;

  @include media-4 {
    padding: 99px 0 25px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -325px;
    display: block;
    width: 100%;
    height: 650px;
    background-image: url('../images/decorations/clouds.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;

    @include media-4 {
      top: -125px;
      height: 225px;
      background-image: url('../images/decorations/clouds-min.png');
      background-position: -150px 5px;
    }
  }
  // .footer__title-box
  &__title-box {
    margin: 0 auto 60px;
    margin: 0 auto 60px;
    text-align: center;

    @include media-4 {
      margin: 0 auto 40px;
    }
  }
  // .footer__maraphon-start
  &__maraphon-start {
    margin-bottom: 10px;
    text-align: center;

    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @include media-3 {
      font-size: 14px;
      line-height: 18px;
    }

    @include media-4 {
      font-size: 9px;
      line-height: 13px;
    }
  }
  // .footer__maraphon-bold
  &__maraphon-bold {
    font-weight: 700;
  }
  // .footer__timer
  &__timer {
    display: flex;
    justify-content: center;
    margin: 0 auto 65px;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    @include media-3 {
      font-size: 60px;
      line-height: 72px;
    }

    @include media-4 {
      margin: 0 auto 45px;

      font-size: 44.5657px;
      line-height: 54px;
    }
  }
  // .footer__timer-box
  &__timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .footer__timer-text
  &__timer-text {
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @include media-4 {
      font-size: 9.47021px;
      line-height: 12px;
    }
  }
  // .footer__dots
  &__dots {
    transform: translateY(-5px);
    margin: 0 25px;

    @include media-3 {
      margin: 0 15px;
    }
  }
  // .footer__buttons
  &__buttons {
    position: relative;
    max-width: 373px;
    width: 100%;
    margin: 0 auto 130px;

    @include media-3 {
      margin: 0 auto 200px;
    }

    @include media-4 {
      max-width: 223px;
    }

    & .free-participation {
      &::before {
        @include media-3 {
          bottom: 18px;
          left: 170px;
          width: 38px;
          height: 43px;
          background-image: url('../images/decorations/footer-behind-arrow.svg');
          background-size: cover;
        }
      }

      &__old-price {
        @include media-2 {
          top: -33px;
          right: -30px;
        }

        @include media-3 {
          top: 43px;
          right: -5px;
          transform: rotate(-25.86deg);
        }
      }
    }
  }
  // .footer__buttons-wrapper
  &__buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-3 {
      flex-direction: row-reverse;
    }
  }
  // .footer__button-instagramm
  &__button-instagramm {
    margin-right: 22px;
    position: relative;

    @include media-3 {
      margin-right: 0;
    }

    @include media-4 {
      max-width: 53px;
      margin-right: 0;
    }

    &::before {
      content: '';
      background-color: transparent;
      position: absolute;
      top: 13px;
      left: 12.5px;
      width: 63px;
      height: 63px;
      box-shadow: 0px 0px 0px #d2a6ff;
      border-radius: 5px;
      transition: all 0.3s;

      @include media-4 {
        display: none;
      }
    }

    &:hover {
      &::before {
        box-shadow: 0px 0px 23px #d2a6ff;
      }
    }
  }
  // .footer__button-img
  &__button-img {
    position: relative;

    &::before {
      content: '';
      background-color: red;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 80px;
      height: 80px;
    }
  }
  // .footer__button-participate
  &__button-participate {
    & .button-participate {
      @include media-4 {
        max-width: 145px;
        margin-right: 90px;
        padding: 14px 0;
        font-size: 8.59649px;
        line-height: 10px;
      }

      &::before {
        @include media-4 {
          height: 40px;
        }
      }

      &::after {
        @include media-4 {
          width: 140px;
          height: 40px;
        }
      }
    }
  }
  // .footer__participation
  &__participation {
    position: absolute;
    top: 35px;
    right: -230px;

    @include media-2 {
      right: -155px;
    }

    @include media-3 {
      top: 120px;
      right: 210px;
    }

    @include media-4 {
      top: 93px;
      right: 80px;
    }
  }
  // .footer__info
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-3 {
      flex-direction: column;
    }
  }
  // .footer__info-item
  &__info-item {
    @include media-3 {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  // .footer__info-logo
  &__info-logo {
    @include media-4 {
      max-width: 125px;
    }
  }
  // .footer__info-text
  &__info-text {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.03em;

    @include media-4 {
      font-size: 10.6524px;
      line-height: 13px;
    }
  }
  // .footer__heart
  &__heart {
    transform: translateY(3px);
    display: inline;

    @include media-4 {
      max-width: 15px;
    }
  }
  // .footer__info-politics
  &__info-politics {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.03em;

    @include media-3 {
      text-align: center;
    }

    @include media-4 {
      font-size: 10px;
      line-height: 12px;
    }
  }
  // .footer__info-politics-button
  &__info-politics-button {
    text-decoration: underline;
  }

  .subtitle {
    margin-bottom: 0;
    @include media-4 {
      margin: 0 auto;
      max-width: 203px;
    }
  }
}
