.header {
  position: relative;
  padding-bottom: 245px;
  @extend %bg;
  z-index: 1;

  @include media-2 {
    padding-bottom: 145px;
  }

  @include media-3 {
    padding-bottom: 125px;
    background-position: right;
  }

  @include media-4 {
    padding-bottom: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -400px;
    display: block;
    width: 100%;
    height: 650px;
    background-image: url('../images/decorations/clouds.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;

    @include media-4 {
      bottom: -130px;
      height: 225px;
      // min-width: 880px;
      background-image: url('../images/decorations/clouds-min.png');
      background-position: -185px 5px;
    }
  }

  // .header__top
  &__top {
  }

  // .header__content
  &__content {
    position: relative;
    z-index: 999;

    @include media-3 {
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      top: 260px;
      right: 455px;
      width: 125px;
      height: 115px;
      background-image: url('../images/decorations/road-sign.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include media-3 {
        width: 100px;
        height: 95px;
        top: 160px;
        right: 0px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -150px;
      right: -15px;
      width: 225px;
      height: 225px;
      background-image: url('../images/decorations/sign-big.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;

      @include media-3 {
        width: 150px;
        height: 150px;
        left: -55px;
      }

      @include media-4 {
        width: 100px;
        height: 100px;
        top: -80px;
        left: -25px;
      }
    }
  }

  // .header__title
  &__title {
    font-size: 43px;
    text-transform: uppercase;

    span {
      display: block;
      font-weight: 700;
    }

    @include media-1 {
      font-size: 30px;
    }

    @include media-2 {
      font-size: 26px;
    }

    @include media-4 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  // .header__subtitle
  &__subtitle {
    margin-bottom: 53px;
    font-size: 15px;

    span {
      font-weight: 700;
    }

    @include media-4 {
      max-width: 220px;
      width: 100%;
      margin: 0 auto 247px;
      font-size: 12px;
      line-height: 15px;
    }
  }

  // .header__info
  &__info {
    margin-bottom: 70px;

    @include media-2 {
      margin-bottom: 35px;
    }

    @include media-3 {
      margin-bottom: 25px;
    }
  }

  // .header__info-wrapper
  &__info-wrapper {
    position: relative;
    max-width: 296px;

    @include media-3 {
      margin: 0 auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      left: -55px;
      width: 118px;
      height: 118px;
      background-image: url('../images/decorations/sign.png');
      z-index: 5;
      @extend %bg;

      @include media-3 {
        top: 23px;
        left: 245px;
        width: 80px;
        height: 80px;
      }

      @include media-4 {
        top: 0px;
        left: 210px;
        width: 80px;
        height: 80px;
      }
    }
  }

  // .header__info-text
  &__info-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 32px;
    font-weight: 400;
    font-size: 13px;
    z-index: 1;

    @include media-4 {
      max-width: 203px;
      margin: 0 auto;
      padding: 10px 11px;
      font-size: 10px;
      line-height: 12px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 2px;
      display: block;
      width: 283px;
      height: 70px;
      background: linear-gradient(
        89.85deg,
        rgba(147, 208, 252, 0.3) 0.1%,
        rgba(210, 166, 255, 0.3) 95.31%
      );
      box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(7px);
      border-radius: 3px;
      transform: skew(-10deg);
      z-index: -1;

      @include media-4 {
        max-width: 202px;
        height: 48px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 282px;
      height: 70px;
      background: radial-gradient(
        103.66% 103.66% at 50% 50%,
        #93d0fc 0%,
        rgba(147, 208, 252, 0.63) 100%
      );
      opacity: 0.8;
      filter: blur(30px);
      border-radius: 6px;
      z-index: -1;
    }
  }

  // .header__button-wrapper
  &__button-wrapper {
    & .button-participate {
      @include media-3 {
        margin-right: 0px;
        margin-bottom: 60px;
      }

      @include media-4 {
        margin-bottom: 40px;
      }
    }

    & .free-participation {
      @include media-3 {
        margin-left: 80px;
      }
      &::before {
        @include media-3 {
          bottom: 34px;
          left: -85px;
          width: 61px;
          height: 47px;
          background-image: url('../images/decorations/behind-arrow.svg');
          background-size: cover;
        }
      }
    }
  }

  // header__img
  &__img {
    position: absolute;
    bottom: 0;
    right: 150px;
    z-index: 1;

    @include media-2 {
      right: 50px;
      bottom: 28px;
      max-width: 330px;
    }

    @include media-3 {
      display: none;

      max-width: 350px;
    }

    @include media-4 {
      display: block;
      top: 165px;
      right: 50%;
      transform: translateX(50%);
      max-width: 169px;
    }
  }
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 97px;
  z-index: 999;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.03em;

  @include media-4 {
    margin-bottom: 25px;
  }

  // .header-top__inf
  &__inf {
    max-width: 212px;
    width: 100%;
  }

  // .header-top__text
  &__text {
    font-weight: 700;

    span {
      display: block;
      font-size: 10px;
      font-weight: 300;
      text-align: right;
      @include media-2 {
        font-size: 9px;
      }
    }

    @include media-2 {
      font-size: 12px;
    }

    @include media-3 {
      display: none;
    }
  }

  // .header-top__logo
  &__logo {
    // position: relative;
    min-width: 280px;
    // width: 100%;
    margin: 0 91px;
    display: flex;
    justify-content: center;
    z-index: 1;

    @include media-3 {
      min-width: 200px;
    }

    @include media-4 {
      min-width: 122px;

      margin: 0 20px;
    }
  }

  // .header-top__date
  &__date {
    max-width: 212px;
    width: 100%;
  }

  // .header-top__date-text
  &__date-text {
    font-weight: 700;
    text-align: left;

    span {
      display: block;
      font-size: 9px;
      font-weight: 300;
      text-align: left;

      @include media-4 {
        font-size: 7px;
      }
    }

    @include media-2 {
      font-size: 12px;
    }

    @include media-4 {
      font-size: 9px;
      line-height: 11px;
    }
  }
}

.logo {
}

.img {
  // .img__logo
  &__logo {
  }
}

.button-wrapper {
  display: flex;
  align-items: center;

  @include media-3 {
    flex-direction: column;
  }
}
