<!-- <footer
  class="footer"
  style="background-image: url('../../images/bg/footer-bg.png')"
>
  <div class="container">
    <div class="footer__title-box">
      <h2 class="footer__title title">Уже решили присоединиться?</h2>

      <h3 class="footer__subtitle subtitle">
        жми кнопку и регистрируйся на марафон
      </h3>
    </div>

    <div class="footer__maraphon-start">
      Дата начала марафона
      <span class="footer__maraphon-bold">20 мая / 20:00</span> , осталось:
    </div>

    <div class="footer__timer">
      <div class="footer__timer-box">
        <div class="footer__num hours">10</div>

        <div class="footer__timer-text">часов</div>
      </div>

      <div class="footer__dots">:</div>

      <div class="footer__timer-box">
        <div class="footer__num minuts">30</div>

        <div class="footer__timer-text">минут</div>
      </div>

      <div class="footer__dots">:</div>

      <div class="footer__timer-box">
        <div class="footer__num seconds">60</div>

        <div class="footer__timer-text">секунд</div>
      </div>
    </div>

    <div class="footer__buttons">
      <div class="footer__buttons-wrapper">
        <a class="footer__button-instagramm" href="#">
          <img
            class="footer__button-img"
            src="./images/button/inst-button.png"
            alt=""
          />
        </a>

        <div class="footer__button-participate">
          <a class="footer__button button-participate" href="#">
            Участвовать
          </a>
        </div>
      </div>

      <div class="footer__participation free-participation">
        <p class="free-participation__text">
          Участие в марафоне абсолютно <span>бесплатно</span>
        </p>

        <p class="free-participation__old-price">15 000<span>₸</span></p>
      </div>
    </div>

    <div class="footer__info">
      <div class="footer__info-logo logo">
        <img
          class="img__logo"
          src="../../images/logo/logo.svg"
          alt="логотип сайта"
        />
      </div>

      <div class="footer__info-text">
        Made with
        <span
          ><img
            class="footer__heart"
            src="./images/decorations/heart.png"
            alt="иконка сердца"
          />
        </span>
        by AutoOnline
      </div>

      <div class="footer__info-politics">
        <div class="footer__info-politics-text">Все права защищены</div>

        <a class="footer__info-politics-button" href="#">
          Политика конфендициальности
        </a>
      </div>
    </div>
  </div>
</footer> -->
