<header
  class="header"
  style="background-image: url('../../images/bg/header.jpg')"
>
  <div class="container">
    <div class="header__top header-top">
      <div class="header-top__inf">
        <p class="header-top__text">
          Авторский онлайн-марафон <span>по ПДД Республики Казахстан</span>
        </p>
      </div>

      <div class="header-top__logo logo">
        <img
          class="img__logo"
          src="../../images/logo/logo-3.svg"
          alt="логотип сайта"
        />
      </div>

      <div class="header-top__date">
        <p class="header-top__date-text">
          20 мая / 20:00
          <span>Начало марафона</span>
        </p>
      </div>
    </div>

    <div class="header__content">
      <h1 class="header__title">
        <span>изучи ПДД за 7 дней</span> по понятным видео-урокам,
      </h1>

      <p class="header__subtitle">
        и получи возможность <span>выиграть денежные призы</span>
      </p>

      <div class="header__info">
        <div class="header__info-wrapper">
          <p class="header__info-text">
            Обучение проходит онлайн в нашем сервисе видео-уроков.
          </p>
        </div>
      </div>

      <div class="header__button-wrapper button-wrapper">
        <a class="button-wrapper__button button-participate" href="#">
          Участвовать
        </a>

        <div class="button-wrapper__text-wrapper free-participation">
          <p class="free-participation__text">
            Участие в марафоне абсолютно <span>бесплатно</span>
          </p>

          <p class="free-participation__old-price">15 000<span>₸</span></p>
        </div>
      </div>
    </div>

    <img
      class="header__img"
      src="../../images/decorations/girl.png"
      alt="фото девушки"
    />
  </div>
</header>
