<div class="modal">
  <div
    class="modal__box"
    style="background-image: url('../../images/bg/modal-bg.png')"
  >
    <h4 class="modal__title">Регистрация на марафон</h4>

    <h5 class="modal__subtitle">
      Дата начала марафона
      <span class="modal__bold"> 20 мая / 20:00</span>
    </h5>

    <div class="modal__text">
      Укажи свои данные в полях ниже и получи доступ к
      <span class="modal__bold">бесплатному 7-ми дневному</span>
      марафону от Autoonline
    </div>

    <form class="modal__form form">
      <label class="form__label" for="name">Ваше имя</label>
      <input
        class="form__input"
        name="name"
        id="name"
        type="text"
        placeholder="Введите ваше имя..."
        required
      />

      <label class="form__label" for="city">Откуда вы?</label>
      <input
        class="form__input"
        name="city"
        id="city"
        type="text"
        placeholder="Введите город..."
        required
      />

      <label class="form__label" for="phone">Ваш телефон</label>
      <input
        class="form__input form__input--phone"
        name="phone"
        id="phone"
        type="tel"
        placeholder="+79..."
        required
      />

      <label class="form__label" for="e-mail">Ваш e-mail</label>
      <input
        class="form__input"
        name="e-mail"
        id="e-mail"
        type="email"
        placeholder="Введите ваше имя..."
        required
      />

      <button class="form__button button-participate" type="submit">
        Зарегистрироваться
      </button>
    </form>
  </div>
</div>
