.about {
  position: relative;
  padding: 129px 0 200px;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  @include media-3 {
    padding: 100px 0 138px;
  }

  // .about__title-box
  &__title-box {
    padding: 0 0 58px;
    max-width: 350px;
    width: 100%;

    @include media-3 {
      margin: 0 auto;
    }
  }
  // .about__title
  &__title {
  }
  // .about__subtitle
  &__subtitle {
    text-align: right;

    @include media-3 {
      text-align: center;
    }
  }
  // .about__box
  &__box {
  }

  // .about__info-wrapper
  &__info-wrapper {
    position: relative;
    // max-width: 542px;
    width: 100%;

    @include media-2 {
      padding-top: 535px;
    }

    @include media-3 {
      padding-top: 575px;
    }

    @include media-4 {
      padding-top: 280px;
    }
  }
  // .about__info
  &__info {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 30px 45px 58px 27px;
    border: 1px solid #343434;
    border-radius: 10px;
    font-family: 'Century Gothic';

    @include media-1 {
      max-width: 455px;
    }

    @include media-2 {
      margin: 0 auto;
    }

    @include media-4 {
      max-width: 300px;
    }
    @include media-4 {
      text-align: center;
      padding: 30px 20px 73px;
    }
  }
  // .about__info-img
  &__info-img {
    position: absolute;
    top: -50px;
    right: 420px;

    @include media-1 {
      right: -80px;
    }

    @include media-3 {
      top: -35px;
      right: -40px;
      max-width: 100px;
    }
  }
  // .about__info-box
  &__info-box {
    &:not(:last-child) {
      margin-bottom: 60px;

      @include media-4 {
        margin-bottom: 40px;
      }
    }
  }
  // .about__info-title
  &__info-title {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;

    @include media-4 {
      font-size: 14px;
      line-height: 17px;
    }
  }
  // .about__info-text
  &__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @include media-4 {
      font-size: 11px;
      line-height: 13px;
    }
  }
  // .about__mission
  &__mission {
    position: absolute;
    bottom: -85px;
    left: 79px;
    max-width: 542px;
    width: 100%;
    padding: 18px 34px 21px 48px;
    background: linear-gradient(
      89.85deg,
      rgba(147, 208, 252, 0.3) 0.1%,
      rgba(210, 166, 255, 0.3) 95.31%
    );
    box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(3.5px);
    border-radius: 10px / 30px;

    @include media-2 {
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-3 {
      max-width: 450px;
    }

    @include media-4 {
      padding: 18px;
      max-width: 277px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      max-width: 542px;
      width: 100%;
      height: 116px;
      background: radial-gradient(
        103.66% 103.66% at 50% 50%,
        #93d0fc 0%,
        rgba(147, 208, 252, 0.63) 100%
      );
      opacity: 0.8;
      filter: blur(24.8571px);
      border-radius: 9.94286px;
      z-index: -1;

      @include media-3 {
        height: 100px;
      }
    }
  }
  // .about__mission-title
  &__mission-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;

    @include media-4 {
      font-size: 14px;
      line-height: 17px;
    }
  }
  // .about__mission-text
  &__mission-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 101%;

    @include media-4 {
      font-size: 11px;
    }
  }
  // .about__video
  &__video {
    position: absolute;
    top: -15px;
    right: -130px;

    @include media-0 {
      top: 140px;
    }

    @include media-1 {
      top: 150px;
      right: -135px;
    }

    @include media-2 {
      right: 50%;
      // left: 50%;
      transform: translateX(50%);
    }

    @include media-4 {
      top: 185px;
    }
  }
  // .about__video-wrapper
  &__video-wrapper {
    position: relative;
    width: 987px;
    height: 897px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/about/bg-laptop.png');
      background-size: cover;
      z-index: -1;

      @include media-4 {
        display: none;
      }
    }

    @include media-0 {
      width: 900px;
      height: 800px;
    }

    @include media-0 {
      width: 750px;
      height: 650px;
    }

    @include media-4 {
      width: 300px;
      height: 200px;
    }
  }

  // .about__video-img
  &__video-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: contain;

    @include media-0 {
      max-width: 650px;
    }

    @include media-1 {
      max-width: 575px;
    }

    @include media-2 {
      left: 60%;
    }

    @include media-4 {
      display: none;
    }
  }
  // .about__video-img-mini
  &__video-img-mini {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    min-width: 256px;

    @include media-4 {
      display: block;
    }
  }
  // .about__video-text
  &__video-text {
    position: absolute;
    bottom: 165px;
    left: 155px;
    max-width: 116px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;

    @include media-0 {
      bottom: 70px;
      left: 35px;
    }
    @include media-1 {
      bottom: 90px;
      left: 92px;
    }

    @include media-2 {
      left: 164px;
    }

    @include media-4 {
      font-size: 10px;
      bottom: 0px;
      left: 90px;
    }

    &::before {
      content: '';
      background-image: url('../images/about/arrow.png');

      position: absolute;
      top: 35px;
      right: -150px;
      width: 161px;
      height: 32px;
      object-fit: contain;

      @include media-4 {
        top: 35px;
        right: -5px;
        width: 79px;
        height: 25px;
        background-image: url('../images/about/behind-arrow.svg');
      }
    }
  }
  // .about__video-button
  &__video-button {
    position: absolute;
    bottom: 175px;
    left: 410px;
    transition: all 0.5s;
    z-index: 20;

    &:hover {
      transform: scale(1.3);
    }

    @include media-0 {
      bottom: 75px;
      left: 290px;
    }
    @include media-1 {
      bottom: 96px;
      left: 290px;
    }

    @include media-2 {
      left: 365px;
    }

    @include media-4 {
      bottom: -10px;
      left: 200px;
      max-width: 80px;
      width: 100%;
    }
  }
  // .about__video-play
  &__video-play {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      max-width: 170px;
      max-height: 170px;

      width: 100%;
      height: 100%;
      object-fit: contain;

      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 199, 0, 0.5) 0%,
        rgba(255, 199, 0, 0) 95.73%
      );
      mix-blend-mode: lighten;
      filter: blur(46.5px);
      transform: rotate(0.25deg);
    }

    @include media-4 {
      max-width: 127px;
    }
  }

  // .about__video-play-img
  &__video-play-img {
  }

  & .subtitle {
    margin-bottom: 0;
  }
}
.section {
}
.container {
}
.title {
}
.subtitle {
}
